<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>local_trend</th>
      <th>infected</th>
      <th>dead</th>
      <th>new</th>
      <th>new_deaths</th>
    </tr>
    <tr>
      <th>region</th>
      <th>date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>dolnoslaskie</th>
      <th>2022-02-04</th>
      <td>0.030881</td>
      <td>387080</td>
      <td>6742</td>
      <td>3469.0</td>
      <td>23.0</td>
    </tr>
    <tr>
      <th>kujawsko-pomorskie</th>
      <th>2022-02-04</th>
      <td>0.452387</td>
      <td>282359</td>
      <td>6581</td>
      <td>2798.0</td>
      <td>9.0</td>
    </tr>
    <tr>
      <th>lodzkie</th>
      <th>2022-02-04</th>
      <td>0.191144</td>
      <td>310986</td>
      <td>7313</td>
      <td>3344.0</td>
      <td>18.0</td>
    </tr>
    <tr>
      <th>lubelskie</th>
      <th>2022-02-04</th>
      <td>0.088275</td>
      <td>260477</td>
      <td>7201</td>
      <td>2475.0</td>
      <td>19.0</td>
    </tr>
    <tr>
      <th>lubuskie</th>
      <th>2022-02-04</th>
      <td>0.541599</td>
      <td>120422</td>
      <td>2796</td>
      <td>1331.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>malopolskie</th>
      <th>2022-02-04</th>
      <td>-0.097819</td>
      <td>411346</td>
      <td>8611</td>
      <td>3127.0</td>
      <td>19.0</td>
    </tr>
    <tr>
      <th>mazowieckie</th>
      <th>2022-02-04</th>
      <td>-0.043899</td>
      <td>765912</td>
      <td>13340</td>
      <td>7080.0</td>
      <td>29.0</td>
    </tr>
    <tr>
      <th>opolskie</th>
      <th>2022-02-04</th>
      <td>0.198813</td>
      <td>128435</td>
      <td>3082</td>
      <td>1071.0</td>
      <td>9.0</td>
    </tr>
    <tr>
      <th>podkarpackie</th>
      <th>2022-02-04</th>
      <td>-0.144519</td>
      <td>223365</td>
      <td>6532</td>
      <td>1932.0</td>
      <td>27.0</td>
    </tr>
    <tr>
      <th>podlaskie</th>
      <th>2022-02-04</th>
      <td>0.190614</td>
      <td>129395</td>
      <td>3440</td>
      <td>1107.0</td>
      <td>6.0</td>
    </tr>
    <tr>
      <th>pomorskie</th>
      <th>2022-02-04</th>
      <td>0.069277</td>
      <td>335086</td>
      <td>5944</td>
      <td>3389.0</td>
      <td>12.0</td>
    </tr>
    <tr>
      <th>slaskie</th>
      <th>2022-02-04</th>
      <td>-0.004957</td>
      <td>639525</td>
      <td>12859</td>
      <td>5993.0</td>
      <td>21.0</td>
    </tr>
    <tr>
      <th>swietokrzyskie</th>
      <th>2022-02-04</th>
      <td>0.270389</td>
      <td>119111</td>
      <td>3664</td>
      <td>1439.0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>warminsko-mazurskie</th>
      <th>2022-02-04</th>
      <td>0.214972</td>
      <td>196391</td>
      <td>4177</td>
      <td>1830.0</td>
      <td>5.0</td>
    </tr>
    <tr>
      <th>wielkopolskie</th>
      <th>2022-02-04</th>
      <td>0.231295</td>
      <td>468339</td>
      <td>9775</td>
      <td>4809.0</td>
      <td>39.0</td>
    </tr>
    <tr>
      <th>zachodniopomorskie</th>
      <th>2022-02-04</th>
      <td>0.154369</td>
      <td>233749</td>
      <td>4160</td>
      <td>2132.0</td>
      <td>8.0</td>
    </tr>
    <tr>
      <th>polska</th>
      <th>2022-02-05</th>
      <td>0.013856</td>
      <td>5127683</td>
      <td>106439</td>
      <td>45749.0</td>
      <td>272.0</td>
    </tr>
  </tbody>
</table>