<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>local_trend</th>
      <th>infected</th>
      <th>dead</th>
      <th>new</th>
      <th>new_deaths</th>
    </tr>
    <tr>
      <th>region</th>
      <th>date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>dolnoslaskie</th>
      <th>2021-08-31</th>
      <td>0.102564</td>
      <td>213733</td>
      <td>4945</td>
      <td>9.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>kujawsko-pomorskie</th>
      <th>2021-08-31</th>
      <td>-0.070175</td>
      <td>181334</td>
      <td>4795</td>
      <td>6.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>lodzkie</th>
      <th>2021-08-31</th>
      <td>0.289157</td>
      <td>180590</td>
      <td>5136</td>
      <td>28.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>lubelskie</th>
      <th>2021-08-31</th>
      <td>0.442623</td>
      <td>127434</td>
      <td>4487</td>
      <td>28.0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>lubuskie</th>
      <th>2021-08-31</th>
      <td>0.368421</td>
      <td>74170</td>
      <td>2056</td>
      <td>2.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>malopolskie</th>
      <th>2021-08-31</th>
      <td>0.237500</td>
      <td>223666</td>
      <td>5866</td>
      <td>37.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>mazowieckie</th>
      <th>2021-08-31</th>
      <td>0.273585</td>
      <td>397866</td>
      <td>9463</td>
      <td>45.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>opolskie</th>
      <th>2021-08-31</th>
      <td>-0.234043</td>
      <td>70149</td>
      <td>2055</td>
      <td>5.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>podkarpackie</th>
      <th>2021-08-31</th>
      <td>0.242424</td>
      <td>127066</td>
      <td>4465</td>
      <td>16.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>podlaskie</th>
      <th>2021-08-31</th>
      <td>0.306452</td>
      <td>70316</td>
      <td>2150</td>
      <td>16.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>pomorskie</th>
      <th>2021-08-31</th>
      <td>0.076190</td>
      <td>192865</td>
      <td>4492</td>
      <td>15.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>slaskie</th>
      <th>2021-08-31</th>
      <td>0.164062</td>
      <td>363273</td>
      <td>9438</td>
      <td>19.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>swietokrzyskie</th>
      <th>2021-08-31</th>
      <td>0.814815</td>
      <td>73256</td>
      <td>2579</td>
      <td>9.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>warminsko-mazurskie</th>
      <th>2021-08-31</th>
      <td>-0.022222</td>
      <td>122173</td>
      <td>3018</td>
      <td>9.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>wielkopolskie</th>
      <th>2021-08-31</th>
      <td>0.283784</td>
      <td>286220</td>
      <td>7388</td>
      <td>18.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>zachodniopomorskie</th>
      <th>2021-08-31</th>
      <td>0.571429</td>
      <td>130281</td>
      <td>2939</td>
      <td>20.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>polska</th>
      <th>2021-08-31</th>
      <td>0.226540</td>
      <td>2887760</td>
      <td>75272</td>
      <td>285.0</td>
      <td>5.0</td>
    </tr>
  </tbody>
</table>