<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>local_trend</th>
      <th>infected</th>
      <th>dead</th>
      <th>new</th>
      <th>new_deaths</th>
    </tr>
    <tr>
      <th>region</th>
      <th>date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>dolnoslaskie</th>
      <th>2022-02-01</th>
      <td>0.372394</td>
      <td>374901</td>
      <td>6693</td>
      <td>3239.0</td>
      <td>21.0</td>
    </tr>
    <tr>
      <th>kujawsko-pomorskie</th>
      <th>2022-02-01</th>
      <td>0.853123</td>
      <td>273372</td>
      <td>6541</td>
      <td>1798.0</td>
      <td>24.0</td>
    </tr>
    <tr>
      <th>lodzkie</th>
      <th>2022-02-01</th>
      <td>0.665115</td>
      <td>300077</td>
      <td>7257</td>
      <td>2710.0</td>
      <td>20.0</td>
    </tr>
    <tr>
      <th>lubelskie</th>
      <th>2022-02-01</th>
      <td>0.576071</td>
      <td>251576</td>
      <td>7153</td>
      <td>2000.0</td>
      <td>9.0</td>
    </tr>
    <tr>
      <th>lubuskie</th>
      <th>2022-02-01</th>
      <td>0.666968</td>
      <td>117043</td>
      <td>2786</td>
      <td>836.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>malopolskie</th>
      <th>2022-02-01</th>
      <td>0.058567</td>
      <td>400122</td>
      <td>8518</td>
      <td>2919.0</td>
      <td>28.0</td>
    </tr>
    <tr>
      <th>mazowieckie</th>
      <th>2022-02-01</th>
      <td>0.252454</td>
      <td>743366</td>
      <td>13275</td>
      <td>6236.0</td>
      <td>13.0</td>
    </tr>
    <tr>
      <th>opolskie</th>
      <th>2022-02-01</th>
      <td>0.669989</td>
      <td>124426</td>
      <td>3066</td>
      <td>931.0</td>
      <td>9.0</td>
    </tr>
    <tr>
      <th>podkarpackie</th>
      <th>2022-02-01</th>
      <td>0.095402</td>
      <td>217078</td>
      <td>6465</td>
      <td>1429.0</td>
      <td>6.0</td>
    </tr>
    <tr>
      <th>podlaskie</th>
      <th>2022-02-01</th>
      <td>0.695408</td>
      <td>125570</td>
      <td>3417</td>
      <td>1079.0</td>
      <td>6.0</td>
    </tr>
    <tr>
      <th>pomorskie</th>
      <th>2022-02-01</th>
      <td>0.612346</td>
      <td>324149</td>
      <td>5884</td>
      <td>2875.0</td>
      <td>20.0</td>
    </tr>
    <tr>
      <th>slaskie</th>
      <th>2022-02-01</th>
      <td>0.388390</td>
      <td>617245</td>
      <td>12728</td>
      <td>5698.0</td>
      <td>39.0</td>
    </tr>
    <tr>
      <th>swietokrzyskie</th>
      <th>2022-02-01</th>
      <td>0.448184</td>
      <td>115252</td>
      <td>3636</td>
      <td>962.0</td>
      <td>4.0</td>
    </tr>
    <tr>
      <th>warminsko-mazurskie</th>
      <th>2022-02-01</th>
      <td>0.485270</td>
      <td>190727</td>
      <td>4153</td>
      <td>1840.0</td>
      <td>9.0</td>
    </tr>
    <tr>
      <th>wielkopolskie</th>
      <th>2022-02-01</th>
      <td>0.652984</td>
      <td>452744</td>
      <td>9641</td>
      <td>3098.0</td>
      <td>23.0</td>
    </tr>
    <tr>
      <th>zachodniopomorskie</th>
      <th>2022-02-01</th>
      <td>0.625438</td>
      <td>226984</td>
      <td>4133</td>
      <td>1229.0</td>
      <td>8.0</td>
    </tr>
    <tr>
      <th>polska</th>
      <th>2022-02-01</th>
      <td>0.413593</td>
      <td>4923872</td>
      <td>105296</td>
      <td>39114.0</td>
      <td>239.0</td>
    </tr>
  </tbody>
</table>